<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recording</title>
</head>

<body>
<h1>Recording...</h1>
    <div id="data_output">Wacht op data...</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        // Maak verbinding met de Socket.IO server
        var socket = io();

        // Luister naar het 'data_updated' event
        socket.on('data_updated', function(msg) {
            console.log('Nieuwe data ontvangen:', msg);
            // Update de webpagina met de nieuwe data
            document.getElementById('data_output').innerText = msg.file_data;
        });
    </script></body>
</html>